html { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  background-color: #F7F7F7;
}

header {
  background-image: url(images/headingBackground.png);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #485069;
  height: 150px;
}

nav {
  display: flex;
  align-items: flex-end;
}

.nav-button {
  background-color: #02132C;
  border: none;
  color: #F8E78F;
  padding: 5px;
  margin-left: 15px;
  height: 25px;
  width: 110px;
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin-right: 5px;
}

.logo-pic {
  height: 90px;
  width: 220px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.dropdown {
  background-color: #2B394F;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

/* img {
  width: 340px;
  height: 150px;
  max-width: 500px;
  max-height: 300px;

} */

h1 {
  margin: 25px 0 25px 10px;
  color: #001F37;
}

h2 {
  font-size: large;
  margin-bottom: 2px;
}

p {
  font-size: small;
  margin-top: 3px;
}

div {
  width: 310px;
  height: 50px;
  background-color: lightgray;
  opacity: 50%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
}

.num {
  font-size: xx-large;
  margin-top: 10px;
}

.room-pic {
  z-index: 0;
}

.pic-button {
  z-index: 2;
  font-size: 5px;
  width: 10px;
  height: 5px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 440px;
  width: 340px;
  padding: 1px;
  border: 2px #2B394F solid;
  margin: 0 5px 10px 5px;
}

.card-header {
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  width: 340px;
  height: 160px;
}

.living-room {
  background-image: url(images/livingRoom.png);
}

.dining-room {
  background-image: url(images/dining.png);
}

.bedroom {
  background-image: url(images/bedroom.png);
}

.kitchen {
  background-image: url(images/kitchen.png);
}

.bathroom {
  background-image: url(images/bath.png);
}

.laundry {
  background-image: url(images/Laundry.png);
}

.office {
  background-image: url(images/office.png);
}

.lighting {
  background-image: url(images/light.png);
}